
body{
    margin: 0;
    background: rgb(32, 32, 32);
}
.content{
    display: flex;
    flex-direction: column;
    gap: 15vh;
}
.header{
    display: flex;

    /* background: rgba(40, 40, 40, 1); */
    background-image: url(img/sunrise.jpg);
    
    align-items: center;
    justify-content: center;
    
    padding: 0.5vw;
    min-height: 100vh;
}
.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.75vw;
    background: rgba(130, 130, 130,0.5);
    gap: 1vw;
}
.title h2 {
    margin: 0;
    text-align: left;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    width: 0ch; /* important */
    animation: typing 2s steps(17) forwards, blink 1s step-end infinite;
}
@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 8ch; /* Adjust this to match your text length */
        border-right: 0px solid;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5vw;
    font-family: "Nunito", sans-serif;
}
.weld, .print, .code{
    display: flex;
    align-items: stretch;
}
.weldimg, .printimg, .codeimg{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    
}
.parg{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vw;
    margin: 5vw;
    

}
img{
    max-width: 40vw;
    
}
h6{
    flex: auto;
    margin: 0px;
    text-align: center;
    color: aliceblue;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.75vw;
    padding: 0.5vw;
    color: aliceblue;
    font-family: "Nunito", sans-serif;
}

h3{
    font-size: 2rem;
    padding: 1vw;
    border-radius: 0.5vw;
    background: rgba(130, 130, 130,0.5);
    color: aliceblue;
    margin: 0px;
    font-family: "Nunito", sans-serif;
}

.biggerimg{
    max-width: 750px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.wimg{
    border-radius: 1vw;
    max-width: 40vw;
}
.cimg{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.codeimg>.slide{
    position: sticky;
    top: 30vh;
}
.spacer{
    min-height: 100px;
}
.edu{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
}
h2{
    font-size: 30px;
    color: aliceblue;
    border-radius: 0.75vw;
    padding: 0.5vw 10vw;
    background: rgba(130, 130, 130,0.5);
    margin: 0.5vw;
    font-family: "Nunito", sans-serif;
}
.cent{
    display: flex;
    justify-content: center;
}
.edhead{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
    padding-left: 0;
}
li{
    color: aliceblue;
    border-radius: 12px;
    padding: 8px;
    background: rgba(130, 130, 130,0.5);
    display: flex;
    justify-content: flex-end;
}
.sidelong{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 12.5%;
    border-radius: 12px;
    padding: 8px;
    background: rgba(130, 130, 130,0.5);
    color: aliceblue;
}
.currentproj{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1em;

}
.projobj{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.vertimg{
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    border-radius: 1vw;
    padding: 0.5vw 0.5vw 0px 0.5vw;
    background: rgba(130, 130, 130,0.5);
    color: aliceblue;
}
.corner{
    border-radius: 1vw;
}
.footer{
    background: rgba(130, 130, 130,0.5);
    display: flex;
    align-items: center;
    padding: 2vh 10vw;
    justify-content: center;
    gap: 10vw;
    border-radius: 1vw;
}
.slide{
    position: sticky;
    top: 5vh;
}